<!DOCTYPE html>
<html>
  <head>
    <title>Charles</title>
    <link rel='stylesheet' href='stylesheets/estilocv.css' />
  </head>
  <body>
    <div class="contenedor">
      <img src="images/foto.jpg">
      <br>
      <h2>Charles Fernández</h2>
      <div class="datos-personales">
      <h3>DATOS PERSONALES</h3>
      <p>
        <b>Nombres:</b> Charles Kleberson
        <br>
        <b>Apellidos:</b> Fernández Hurtado
        <br>
        <b>Cedula de Identidad Nº:</b> 29.744.214
        <br>
        <b>Nacionalidad:</b> Venezolano
        <br>
        <b>Lugar de Nacimiento:</b> Maracay, Estado Aragua
        <br>
        <b>Fecha de Nacimiento:</b> 01 de Febrero de 2003
        <br>
        <b>Estado Civil:</b> Soltero
        <br>
        <b>Direccion de Domicilio:</b> Sector Jose Gregorio Hernández, Calle 11b, Maracay, Estado Aragua   
      </p>
      </div>
      
      <div class="redes">
        <h3>REDES SOCIALES</h3>
        <b>charleskfh010203@gmail.com</b>
        <br>
        <b>+584243754295</b>
        <br>
        <a> Charles Fernández</a>
        <br>
        <a> charliuviriss</a>
      </div>
      
      <div class="datos-academicos">
        <hr>
        <h3>DATOS ACADEMICOS</h3>
        <p>
          <b>Educacion Primaria:</b> E.B.E de Arnoldo Gabaldon.
          <br>
          <b>Educacion Secundaria:</b> U.Coop Las Nieves y I.E El Precursor
          <br>
          <b>Educacion Superior.</b>Universidad Nacional Experimental de los Llanos Centrales Romulo Gallegos, San Juan de los Morros, Estado Guarico. En la Carrera de Ingeniera en Informatica.
        </p>
      </div>
    
      <div class="experiencia">
        <hr>
          <h3>EXPERIENCIA LABORAL</h3>
        <p>
          Ventas
          <br>
          Comercio Informal.
        </p>
    
      </div>
    
      <div class="habilidades">
        <hr>
        <h3>HABILIDADES Y DESTREZAS</h3>
        <p>
          <i class="fa-brands fa-html5"></i> <b>HTML:</b> Basico y Intermedio
          <br>
          <i class="fa-brands fa-css3-alt"></i> <b>CSS:</b> Basico
          <br>
          <i class="fa-brands fa-wordpress"></i> <b>WordPress:</b> Basico
        </p>
      </div>
      </div>
    
  </body>
</html>
